
@media (min-width: 760px){


/* ヘッダー部分 */
.head{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
height: 75px;
padding:0 15px;
margin: 0 auto;
}

.left {
color: #1F91BE;
font-size: 31px;
}

.nav ul{
align-items: center;
}

.nav li{
font: Bold 16px YuGothic;
color: #333333;
display: inline;
padding: 0;
padding-left: 34px;
margin: 0;
}

/* /ヘッダー部分 */

/* 全体部分 */
.contents-wrapper{
display: flex;
padding:100px 15px;
margin: 0 auto;
width: auto;
}

/* /全体部分 */

/* ABOUT部分 */
.article-wrapper{
  width: 70%;
  padding-right: 80px;
}

.about-flex{
display: flex;
}
.tx{
font-size: 16px;
}
p.tx{
  padding-top: 30px;
}
.about{
  margin-right: 80px;
}
img.about1{
  padding-top: 30px;
}
img.about2{
  padding-top: 30px;
}
.about-container-left{
  width: 100%;
  padding-right: 60px;
}

.about-container-right{
  width: 100%;
}

/* /ABOUT部分 */


/*NEWS部分*/

.calender{
display: flex;
border-bottom: 1px solid #6F6F6F;
width: 100%;
padding-bottom: 0;
justify-content: space-evenly
}

p.day{
font-weight: bold;
font-size: 14px;
align-items: center;
justify-content: flex-start;
margin:0;
padding: 20px 0 20px 0;
line-height: 1.8;
white-space: nowrap;
}

.newstxt{
align-items: center;
font-size: 14px;
flex-basis:100%;
margin:  0;
padding: 20px 0 20px 49px;
}

p.day2{
  line-height: 1.8;
}

.newstxt2{
font-size: 14px;
flex-basis:100%;
margin-bottom: 7px;
}


/* ボタン部分 */

.btn{
float:right;
letter-spacing: 0;
color: #1F91BE;
width: 80px;
font-size:16px;
line-height: 16px;
font-weight:bold;
text-decoration:none;
display:block;
text-align:center;
margin-top: 20px;
padding: 7px 34px 7px 34px;
background-color:#FFFFFF;
border:2px solid #1F91BE;
}

/* ボタン部分*/


/* サイドバー部分 */

.side-wrapper{
width:30%;
margin: 0 auto;
padding: 0;
}

img.imgside{
  padding-top: 30px;
}

.picture-area{
padding: 0;
}

h2 {
font-size: 24px;
color: #1F91BE;
border-bottom: 4px solid #1F91BE;
width: 100%;
padding-bottom: 9px;
margin: 0 0 0 0;
}

.category{
  padding: 0;
}
.category li{
  font-size: 16px;
  height: 16px;
}
/* サイドバー部分 */


/* フッター部分 */
footer {
width: 100%;
height: 100%;
background-color: #C7C7C7;
margin-top: 0;
}

footer p {
padding: 18px 0 18px 0;
font: Bold 12px YuGothic;
letter-spacing: 0;
color: #FFFFFF;
opacity: 1
}
/* /フッター部分 */
}




@media (min-width:1080px)
{

/* common */

h1{
font-size: 32px;
color: #1F91BE;
border-bottom: 4px solid #1F91BE;
width: 100%;
margin-right: 20px;
padding-bottom: 9px;
}



/*header部分*/

.head{
display: flex;
justify-content: space-between;
align-items: center;
height: 75px;
width: 1080px;
padding: 0;
}

.left {
color: #1F91BE;
font-size: 31px;
}

.nav li{
font: Bold 16px YuGothic;
color: #333333;
padding-left: 34px;
}

.nav a{
color: #333333;
text-decoration: none;
}
.nav a:hover{
color: #1F91BE;}


/* 全体部分 */
.contents-wrapper{
width: 1080px;
margin: 0 auto;
max-width: 100%;
display: flex;
padding: 100px 0;
}
/* 全体部分 */

/* article-wrapper */

.article-wrapper{
  width: 70%;
}

/* ABOUT部分 */

.about-flex{
display: flex;
}

.tx{
width:320px;
font-size: 16px;
}

.about{
  margin-right: 80px;
}

.about-container-left{
  width: 320px;
  padding-right: 60px;
}

.about-container-right{
  width: 320px;
}
/*/ABOUT部分 */

/*NEWS部分*/

.calender{
display: flex;
border-bottom: 1px solid #6F6F6F;
width: 700px;
padding-bottom: 0;
}

p.day{
font-weight: bold;
font-size: 14px;
}

.newstxt{
font-size: 14px;
flex-basis:555px;
}

.newstxt2{
  height: 38px;
}

/* NEWS部分 */

/* /.article-wrapper */

/* ボタン部分 */
.btn{
float:right;
letter-spacing: 0;
color: #1F91BE;
width: 80px;
font-size:16px;
line-height: 16px;
font-weight:bold;
text-decoration:none;
display:block;
text-align:center;
margin-top: 20px;
padding: 7px 34px 7px 34px;
background-color:#FFFFFF;
border:2px solid #1F91BE;
}

/* /ボタン部分 */


/* .side-wrapper */
.side-wrapper{
  width: 30%;
}

.category li{
  font-size: 16px;
  height: 16px;
}

/* /side-wrapper */
