body{
  font-family: YuGothic;
}

.wrap{
  overflow: hidden;
}

img{
  display:block;
  margin: 0 auto;
}

p{
  line-height: 1.8;
}

/* ヘッダー */
.head{
  display: flex;
  flex-direction: column;
  font-weight: bold;
  height: 82px;
  align-items: flex-start;
  justify-content: space-evenly;
  /* justify-content: center; */
  padding: 0 0 0 15px;
}
.left {
color: #1F91BE;
font-size: 18px;

}
.nav ul{
display: flex;
justify-content: space-evenly;
}
.nav li{
  font-size: 14px;
  font-weight: bold;
  padding: 0 12px 0 0;

}
.nav a{
  color: #333333;
  text-decoration: none;
}
.nav a:hover{
  color: #1F91BE;}


/* 全体部分 */
.contents-wrapper{
  max-width: 100%;
  padding:40px 15px 0 15px
}
/* /全体部分 */


/* article-wrapper */

h1 {
font-size: 22px;
font-weight: bold;
color: #1F91BE;
border-bottom: 4px solid #1F91BE;
width: 100%;
padding-bottom: 6px;
}


img.about1{
  width: 100%;
  padding-top: 20px;
}

img.about2{
  width: 100%;
  padding-top: 40px;
}

p.tx{
  padding: 20px 0 0 0 ;
}

/* ニュース部分 */

.news-area{
  padding: 60px 0 0 0 ;
}

.calender{
border-bottom: 1px solid #6F6F6F;
width: 100%;
padding-bottom: 20px;
}

.day{
font: Bold 14px YuGothic;
letter-spacing: 0;
color: #333333;
padding: 20px 0 20px 0;
}

.newstxt{
font-size: 14px;
}

 /* /ニュース部分 */

 /* ボタン部分 */
.btn{
color: #1F91BE;
width: 70px;
line-height: 14px;
font-size:13px;
font-weight:bold;
text-decoration:none;
display:block;
float: none;
text-align:center;
padding: 13px 39px 13px 39px;
margin: 20px auto 40px auto;
background-color:#FFFFFF;
border:2px solid #1F91BE;
}

/* /ボタン部分 */


/* side-wrapper */

.category{
font-weight: bold;

}

h2{
font-size: 22px;
font-weight: bold;
color: #1F91BE;
border-bottom: 4px solid #1F91BE;
width: 100%;
padding-bottom: 6px;
padding-top:58px;
}

.picture-area {
text-align: center;
padding:0 23px;
}

img.imgside{
  padding-top: 20px;
  width: 100%;
}


.category ul{
  list-style:disc inside;
}

.category li{
  padding: 23px 0 0 5px ;
  font-size: 14px;
}

/* /side-wrapper */

/* footer */

footer{
width: 100%;
height: 100%;
background-color: #C7C7C7;
margin-top: 60px;
}

footer p {
padding: 18px 0 18px 0;
text-align: center;
font: Bold 10px YuGothic;
color: #FFFFFF;
}

/* /footer */
